.compjs__grid__body {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
}

.compjs__grid__body__header {
    grid-column: 1/-1;
    overflow: hidden;

    display: grid;
    grid-template-columns: subgrid;

    color: var(--compjs-primary-color-light);
    background-color: var(--compjs-primary-color-dark);
    border-radius: var(--compjs-border-radius-medium-width) var(--compjs-border-radius-medium-width) 0 0;

    transition: font-weight var(--compjs-transition-color-duration) ease-out,
    color var(--compjs-transition-color-duration) ease-out,
    background-color var(--compjs-transition-color-duration) ease-out;
}

.compjs__grid__body__header--warning {
    background-color: var(--compjs-grey-dark);
}

.compjs__grid__body__header--no-checkboxes {
    grid-auto-columns: 1fr;
}

.compjs__grid__body__header__columns-container {
    grid-column: 2/-1;

    display: grid;
    grid-auto-columns: 1fr;
}

.compjs__grid__body__header__columns-container--no-checkboxes {
    grid-column: 1/-1;
}

.compjs__grid__body__header__column {
    grid-row: 1;

    font-size: var(--compjs-h3-font-size);
    padding: var(--compjs-padding-micro-size) var(--compjs-padding-small-size);
    text-align: center;

    transition: background-color var(--compjs-transition-color-duration) ease-out;
}

.compjs__grid__body__header__column:focus {
    outline: none;

    color: var(--compjs-white);
    background-color: var(--compjs-grey-dark);
}

.compjs__grid__body__content {
    grid-column: 1/-1;
    overflow: hidden;

    display: grid;
    grid-template-columns: subgrid;
}

.compjs__grid__body__content__pages-container {
    grid-row: 1;
    grid-column: 2/-1;

    position: relative;
    height: auto;

    border-radius: 0 0 var(--compjs-border-radius-medium-width) 0;
}

.compjs__grid__body__content__pages-container--no-checkboxes {
    grid-column-start: 1;
    border-radius: 0 0 0 var(--compjs-border-radius-medium-width) var(--compjs-border-radius-medium-width);
}

.compjs__grid__body__content__checkboxes-container {
    grid-row: 1;
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

}

.compjs__grid__body__content__checkbox-container {
    padding: 0 var(--compjs-grid-checkbox-padding-size);

    display: grid;
    place-content: center;

    transition: height var(--compjs-transition-height-duration) ease-out;
}

.compjs__grid__body__content__checkbox {
    position: relative;
    width: var(--compjs-grid-checkbox-size);
    height: var(--compjs-grid-checkbox-size);
    margin: 0 var(--compjs-grid-checkbox-margin-size);

    z-index: 1;
}

.compjs__grid__body__content__page {
    width: var(--compjs-grid-page-row-width);
    overflow: hidden;
    min-height: fit-content;

    position: absolute;
    translate: calc(-1 * var(--compjs-grid-checkbox-container-size));
}

.compjs__grid__body__content__page--show-from-right {
    animation: var(--compjs-transition-translate-duration) ease-in-out var(--compjs-transition-translate-delay) pageRowMoveInFromRight;
}

.compjs__grid__body__content__page--show-from-left {
    animation: var(--compjs-transition-translate-duration) ease-in-out var(--compjs-transition-translate-delay) pageRowMoveInFromLeft;
}

.compjs__grid__body__content__page--hide-to-left {
    translate: calc(-100% - var(--compjs-grid-checkbox-container-size));

    animation: var(--compjs-transition-translate-duration) ease-in-out var(--compjs-transition-translate-delay) pageRowMoveOutToLeft;
}

.compjs__grid__body__content__page--hide-to-right {
    translate: calc(100% - var(--compjs-grid-checkbox-container-size));

    animation: var(--compjs-transition-translate-duration) ease-in-out var(--compjs-transition-translate-delay) pageRowMoveOutToRight;
}

.compjs__grid__body__content__page__row {
    display: grid;
    grid-auto-columns: 1fr;
    padding-left: var(--compjs-grid-checkbox-container-size);
    min-height: fit-content;

    font-size: var(--compjs-text-font-size);
    color: var(--compjs-grey-dark);

    transition: background-color var(--compjs-transition-color-duration) ease-out;
}

.compjs__grid__body__content__page__row:nth-child(odd) {
    background-color: var(--compjs-primary-color-light);
}

.compjs__grid__body__content__page__row--warning:nth-child(odd) {
    background-color: var(--compjs-grey-light);
}

.compjs__grid__body__content__page__row:nth-child(even) {
    background-color: var(--compjs-white);
}

.compjs__grid__body__content__page__row__cell {
    grid-row: 1;
    overflow: auto;
    min-height: calc(var(--compjs-padding-micro-size) * 2 + var(--compjs-text-font-size));

    padding: var(--compjs-padding-micro-size);

    text-align: center;

    border: transparent solid var(--compjs-border-small-width);

    transition: border var(--compjs-transition-color-duration) ease-out,
    font-weight var(--compjs-transition-color-duration) ease-out,
    color var(--compjs-transition-color-duration) ease-out,
    background-color var(--compjs-transition-color-duration) ease-out;
}

.compjs__grid__body__content__page__row__cell:focus {
    outline: none;

    color: var(--compjs-white);
    background-color: var(--compjs-grey-medium);
}

.compjs__grid__body__column--warning,
.compjs__grid__body__header__column--warning,
.compjs__grid__body__content__page__row__cell--warning {
    font-weight: var(--compjs-font-weight-bold);
    color: var(--compjs-white);
}

.compjs__grid__body__header__column--warning {
    background-color: var(--compjs-warning-color-dark);
}

.compjs__grid__body__header__column--warning:focus {
    background-color: var(--compjs-warning-color-dark);
}

.compjs__grid__body__content__page__row__cell--warning {
    color: var(--compjs-grey-dark);
    border-color: var(--compjs-warning-color-dark);
}

.compjs__grid__body__content__page__row:nth-child(odd) > .compjs__grid__body__content__page__row__cell--warning {
    background-color: var(--compjs-warning-color-medium);
}

.compjs__grid__body__content__page__row:nth-child(even) > .compjs__grid__body__content__page__row__cell--warning {
    background-color: var(--compjs-warning-color-light);
}