:root {
    /* - Variables */

    /* Timings */
    --compjs-transition-focus: 0.4s;
    --compjs-transition-focus-delay: 0s;
    --compjs-transition-color: 0.2s;
    --compjs-transition-color-delay: 0s;
    --compjs-transition-translate: 0.5s;
    --compjs-transition-translate-delay: 0s;

    /* Fonts size */
    --compjs-h2-font-size: 5rem;
    --compjs-h3-font-size: 2.6rem;
    --compjs-h4-font-size: 2rem;
    --compjs-text-font-size: 1.6rem;

    /* Buttons width */
    --compjs-button-big-width: 10rem;
    --compjs-button-medium-width: 8rem;
    --compjs-button-small-width: 6rem;

    /* Icons size */
    --compjs-icon-big-size: 5rem;
    --compjs-icon-medium-size: 3.2rem;
    --compjs-icon-small-size: 2rem;

    /* Checkboxes size */
    --compjs-checkbox-big-size: 1rem;
    --compjs-checkbox-medium-size: 0.8rem;
    --compjs-checkbox-small-size: 0.6rem;

    /* Margins size */
    --compjs-margin-huge-size: 4rem;
    --compjs-margin-big-size: 3rem;
    --compjs-margin-medium-size: 2.2rem;
    --compjs-margin-small-size: 1.6rem;
    --compjs-margin-micro-size: 0.8rem;

    /* Gaps size */
    --compjs-gap-huge-size: 4rem;
    --compjs-gap-big-size: 2.2rem;
    --compjs-gap-medium-size: 1.6rem;
    --compjs-gap-small-size: 1rem;
    --compjs-gap-micro-size: 0.8rem;

    /* Padding size */
    --compjs-padding-huge-size: 3rem;
    --compjs-padding-big-size: 2rem;
    --compjs-padding-medium-size: 1.6rem;
    --compjs-padding-small-size: 0.8rem;
    --compjs-padding-micro-size: 0.25rem;
    --compjs-padding-cell-size: 0.5rem;

    /* Border radius width */
    --compjs-border-radius-big-width: 15px;
    --compjs-border-radius-medium-width: 10px;
    --compjs-border-radius-small-width: 5px;

    /* Border width */
    --compjs-border-medium-width: 2px;

    /* Font weight */
    --compjs-font-weight-bold: 600;

    /* Colors */
    --compjs-grey-dark: #343a40;
    --compjs-grey-medium: #868e96;
    --compjs-grey-light: #dee2e6;
    --compjs-white: #f8f9fa;

    --compjs-primary-color-dark: #099268;
    --compjs-primary-color-medium: #20c997;
    --compjs-primary-color-light: #e6fcf5;

    --compjs-warning-color-dark: #c92a2a;
    --compjs-warning-color-medium: #ff6b6b;
    --compjs-warning-color-light: #ffc9c9;
}

* {
    margin: 0;
    padding: 0;
}