@keyframes bigIconFocus {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -60%);
    }
}

@keyframes bigIconLostFocus {
    0% {
        transform: translate(-50%, -60%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes pageRowMoveInFromLeft {
    0% {
        translate: calc(-100% - var(--compjs-grid-checkbox-container-size));
    }

    100% {
        translate: calc(-1 * var(--compjs-grid-checkbox-container-size));
    }
}

@keyframes pageRowMoveInFromRight {
    0% {
        translate: calc(100% - var(--compjs-grid-checkbox-container-size));
    }

    100% {
        translate: calc(-1 * var(--compjs-grid-checkbox-container-size));
    }
}

@keyframes pageRowMoveOutToLeft {
    0% {
        translate: calc(-1 * var(--compjs-grid-checkbox-container-size));
    }

    100% {
        translate: calc(-100% - var(--compjs-grid-checkbox-container-size));
    }
}

@keyframes pageRowMoveOutToRight {
    0% {
        translate: calc(-1 * var(--compjs-grid-checkbox-container-size));
    }

    100% {
        translate: calc(100% - var(--compjs-grid-checkbox-container-size));
    }
}
