@import url('compjs-grid-keyframes.css');

.compjs__grid__header {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 3fr 1fr;

    column-gap: var(--compjs-gap-big-size);
    padding: var(--compjs-padding-huge-size);
}

.compjs__grid__header--no-checkboxes {
    grid-column-start: 1;
}

.compjs__grid__header__title-container {
    grid-row: 1;
    grid-column: 1/2;

    display: flex;
    align-content: center;
    justify-content: center;

    padding: 0 var(--compjs-padding-big-size);

    color: var(--compjs-grey-dark);
}

.compjs__grid__header__title {
    width: 100%;
    font-size: var(--compjs-h2-font-size);
    text-align: center;

    border-bottom: var(--compjs-border-huge-width) dashed transparent;

    transition: color var(--compjs-transition-color-duration) ease-out,
    border var(--compjs-transition-color-duration) ease-out;
}

.compjs__grid__header__title:focus,
.compjs__grid__header__title--warning:focus {
    outline: none;
}

.compjs__grid__header__title:focus {
    border-bottom-color: var(--compjs-grey-dark);
}

.compjs__grid__header__title--warning,
.compjs__grid__header__title--warning:focus {
    color: var(--compjs-warning-color-dark);
    border-bottom-color: var(--compjs-warning-color-dark);
}

.compjs__grid__header__icons-container {
    grid-row: 1;
    grid-column: 2/-1;

    display: flex;
    align-content: center;
    justify-content: flex-end;

    gap: var(--compjs-gap-micro-size);
    padding: var(--compjs-padding-small-size) 0;
}

.compjs__grid__header__icon-container {
    position: relative;
    height: var(--compjs-icon-medium-size);
    width: var(--compjs-icon-medium-size);
    padding: var(--compjs-padding-small-size);
}

.compjs__grid__header__icon-container--insert {
    order: 1;
}

.compjs__grid__header__icon-container--remove {
    order: 2;
}

.compjs__grid__header__icon-container--edit {
    order: 3;
}

.compjs__grid__header__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--compjs-icon-medium-size);
    height: var(--compjs-icon-medium-size);

    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: var(--compjs-grey-dark);

    z-index: 1;

    animation: var(--compjs-transition-focus-duration) ease-out var(--compjs-transition-focus-delay) bigIconLostFocus;
}

.compjs__grid__header__icon:hover,
.compjs__grid__header__icon:active {
    transform: translate(-50%, -60%);

    animation: var(--compjs-transition-focus-duration) ease-out var(--compjs-transition-focus-delay) bigIconFocus;
}