.compjs__grid__footer {
    grid-column: 2/-1;
    margin-top: var(--compjs-margin-huge-size);
}

.compjs__grid__footer--no-checkboxes {
    grid-column-start: 1;
}

.compjs__grid__footer__pagination {
    display: flex;
    justify-content: center;
    align-content: center;

    gap: var(--compjs-gap-huge-size);

    padding: var(--compjs-padding-medium-size);
}

.compjs__grid__footer__pagination__outer-btn {
    width: var(--compjs-button-big-width);

    border: var(--compjs-border-small-width) solid var(--compjs-primary-color-dark);
    color: var(--compjs-white);
    background-color: var(--compjs-primary-color-dark);
}

.compjs__grid__footer__pagination__outer-btn--warning {
    border-color: var(--compjs-warning-color-dark);
    background-color: var(--compjs-warning-color-dark);
}

.compjs__grid__footer__pagination__outer-btn:hover,
.compjs__grid__footer__pagination__outer-btn--warning:hover,
.compjs__grid__footer__pagination__middle-btn,
.compjs__grid__footer__pagination__inner-btn {
    background-color: var(--compjs-white);
}

.compjs__grid__footer__pagination__outer-btn:hover {
    color: var(--compjs-primary-color-dark);
    border-color: var(--compjs-primary-color-dark);

}

.compjs__grid__footer__pagination__outer-btn--warning:hover {
    color: var(--compjs-warning-color-dark);
    border-color: var(--compjs-warning-color-dark);
}

.compjs__grid__footer__pagination__middle-btn,
.compjs__grid__footer__pagination__inner-btn {
    border: var(--compjs-border-small-width) solid var(--compjs-primary-color-medium);
    color: var(--compjs-primary-color-medium);
}

.compjs__grid__footer__pagination__middle-btn--warning,
.compjs__grid__footer__pagination__inner-btn--warning {
    border-color: var(--compjs-warning-color-medium);
    color: var(--compjs-warning-color-medium);
}

.compjs__grid__footer__pagination__middle-btn:hover,
.compjs__grid__footer__pagination__middle-btn--active,
.compjs__grid__footer__pagination__inner-btn:hover,
.compjs__grid__footer__pagination__inner-btn--active {
    color: var(--compjs-primary-color-dark);
    border-color: var(--compjs-primary-color-dark);
}

.compjs__grid__footer__pagination__middle-btn--warning:hover,
.compjs__grid__footer__pagination__middle-btn--warning--active,
.compjs__grid__footer__pagination__inner-btn--warning:hover,
.compjs__grid__footer__pagination__inner-btn--warning--active {
    color: var(--compjs-warning-color-dark);
    border-color: var(--compjs-warning-color-dark);
}

.compjs__grid__footer__pagination__outer-btn:first-of-type,
.compjs__grid__footer__pagination__middle-btn:first-of-type {
    order: 1;
}

.compjs__grid__footer__pagination__outer-btn:last-of-type,
.compjs__grid__footer__pagination__middle-btn:last-of-type {
    order: 3;
}

.compjs__grid__footer__pagination__middle-btn-container {
    display: flex;
    justify-content: center;
    align-content: center;

    gap: var(--compjs-gap-big-size);
}

.compjs__grid__footer__pagination__middle-btn-container,
.compjs__grid__footer__pagination__inner-btn-container {
    order: 2;
}

.compjs__grid__footer__pagination__inner-btn-container {
    display: flex;
    justify-content: center;
    align-content: center;

    gap: var(--compjs-gap-small-size);
}

.compjs__grid__footer__pagination__middle-btn,
.compjs__grid__footer__pagination__inner-btn {
    width: var(--compjs-button-small-width);
}

.compjs__grid__footer__pagination__outer-btn,
.compjs__grid__footer__pagination__middle-btn,
.compjs__grid__footer__pagination__inner-btn {
    padding: var(--compjs-padding-small-size);
    font-size: var(--compjs-text-font-size);

    border-radius: var(--compjs-border-radius-small-width);

    transition: color var(--compjs-transition-color-duration) ease-out,
    border var(--compjs-transition-color-duration) ease-out,
    background-color var(--compjs-transition-color-duration) ease-out;
}