@import url('compjs-grid-body.css');
@import url('compjs-grid-footer.css');
@import url('compjs-grid-header.css');
@import url('compjs-grid-keyframes.css');

.compjs__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: var(--compjs-padding-big-size);
}
