.grid__body {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
}

.grid__body__header {
    grid-column: 2/-1;

    display: grid;
    grid-auto-columns: 1fr;

    color: var(--compjs-primary-color-light);
    background-color: var(--compjs-primary-color-dark);
    border-radius:var(--compjs-medium-border-radius) var(--compjs-medium-border-radius) 0 0;

    transition:font-weight var(--compjs-color-transition) ease-out,
                color var(--compjs-color-transition) ease-out,
                background-color var(--compjs-color-transition) ease-out;
}

.grid__body__header--warning{
    background-color: var(--compjs-grey-dark    );
}

.grid__body__header--no-checkboxes {
    grid-column-start: 1;
}

.grid__body__header__column {
    grid-row: 1;

    font-size: var(--compjs-font-size-h3);
    padding: var(--compjs-micro-padding) var(--compjs-small-padding);
    text-align: center;
}

.grid__body__content {
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: subgrid;
}

.grid__body__content__data {
    grid-column: 2/-1;

    position: relative;
    height: auto;
    overflow: hidden;
}

.grid__body__content__data--no-checkboxes {
    grid-column-start: 1;
}

.grid__body__content__icons,
.grid__footer__icons {
    color: var(--compjs-grey-medium);
}

.grid__body__content__data__page {
    width: 100%;

    position: absolute;
}

.grid__body__content__data__page--hidden {
    translate: -100%;
}

.grid__body__content__data__page__row {
    display: grid;
    grid-auto-columns: 1fr;

    font-size: var(--compjs-font-size-text);
    color: var(--compjs-grey-dark);

    transition: background-color var(--compjs-color-transition) ease-out;
}

.grid__body__content__data__page__row:nth-child(odd) {
    background-color: var(--compjs-primary-color-light);
}

.grid__body__content__data__page__row--warning:nth-child(odd) {
    background-color: var(--compjs-grey-light);
}

.grid__body__content__data__page__row:nth-child(even) {
    background-color: var(--compjs-white);
}

.grid__body__content__data__page__row__cell {
    grid-row: 1;

    padding: var(--compjs-cell-padding);

    text-align: center;

    border: transparent solid var(--compjs-medium-border-width);

    transition: border var(--compjs-color-transition) ease-out,
                font-weight var(--compjs-color-transition) ease-out,
                color var(--compjs-color-transition) ease-out,
                background-color var(--compjs-color-transition) ease-out;
}

.grid__body__column--warning,
.grid__body__header__column--warning,
.grid__body__content__data__page__row__cell--warning {
    font-weight: var(--compjs-font-weight-bold);
    color: var(--compjs-white);
}

.grid__body__header__column--warning{
    background-color: var(--compjs-warning-color-dark);
}

.grid__body__content__data__page__row__cell--warning {
    color: var(--compjs-grey-dark);
    border-color: var(--compjs-warning-color-dark);
}

.grid__body__content__data__page__row:nth-child(odd)>.grid__body__content__data__page__row__cell--warning{
    background-color: var(--compjs-warning-color-medium);
}

.grid__body__content__data__page__row:nth-child(even)>.grid__body__content__data__page__row__cell--warning{
    background-color: var(--compjs-warning-color-light);
}