@import url('grid-keyframes.css');
@import url('grid-header.css');
@import url('grid-body.css');
@import url('grid-footer.css');

.grid {
    display: grid;
    grid-template-columns: var(--compjs-medium-checkbox-size) 1fr;
    padding: var(--compjs-big-padding);
}