@keyframes bigIconFocus {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -60%);
  }
}

@keyframes bigIconLostFocus {
  0% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}