@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes focusOnBtn {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

@keyframes focusOutBtn {
  0% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

@keyframes toInvalidResult {
  0% {
    background-color: #343a40;
  }

  100% {
    background-color: #ff6b6b;
  }
}

@keyframes toValidResult {
  0% {
    background-color: #ff6b6b;
  }

  100% {
    background-color: #343a40;
  }
}

@keyframes toInvalidOutline {
  0% {
    outline-color: #343a40;
  }

  100% {
    outline-color: #ff6b6b;
  }
}

@keyframes toValidOutline {
  0% {
    outline-color: #ff6b6b;
  }

  100% {
    outline-color: #343a40;
  }
}